body  {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a{font-family:inherit;
  color: inherit;}

.headcard {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 16px;
  margin: 16px;
  //border: 1px solid;
  width: 90vw;
  height: 90vh;
  overflow-y:auto;
  box-shadow:0px 2px 2px 0px;
  background: url("../images/bruja.jpg")no-repeat center;
  -webkit-filter: contrast(80%);
}
.work{
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
  //border: 1px solid;
  width: 90vw;
  height: 150vh;
  overflow-y:auto;
  box-shadow:0px 2px 2px 0px;
  background: url("../images/seasky.jpg") center no-repeat;
  background-size: cover;
  text-align: right;
  -webkit-filter: contrast(80%);
  color: black;
}

.aboutme {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 16px;
  margin: 16px;
//border: 1px solid;
  width: 90vw;
  height: 90vh;
  overflow-y:auto;
  box-shadow:0px 2px 2px 0px;
  background: url("../images/cousins.jpg") no-repeat center;
  background-size: cover;
  -webkit-filter: contrast(80%);
}

//text formats
.big {
  font-size:50px;
  align-items: right;
}
.bigish {
  font-size:30px;
  align-items: right;
}
.medium {
  font-size:20px;
  justify-content: left;
}
.small{
  font-weight: lighter;
  font-size:16px;
  justify-content: left;
  text-indent: 5%;
}


//image formats

.workimg {
  display:flex;
  -webkit-filter: grayscale(80%);
  padding: 16px;
  align-self: center;
  border-radius: 50%;
  height: 200px;

}
//section formats

.name {
  font-size: 100px;
  text-align: left;
  padding: 16px;
}
.IDs{
  align-items: center;
  justify-content: stretch;
  padding:16px;
  color: white;
}

.namecard {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.workex{
  display:flex;
  flex-direction: column;
}

.pball, .suall, .nordall {display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: space-between;
  width:100%;
}

.ramble{
  display: flex;
  flex-direction: column;
  align-content: left;

}
.ramblex {
  text-align: left;

}
